@*
    Results View
*@
@using cs341.Models
@model cs341.Models.ResultsViewModel

<div id="browse">
    <h1 class="heading">Browse</h1>
    <hr />
    <div id="results">
        @foreach (Item item in Model.Items)
        {
            <div class="results-item" onclick="routeToItem(@item.Id)">
                <img class ="results-item-image" src="~/images/items/@item.ImageLOC">
                <div class="results-item-name">@item.Name</div>
                <div class="results-item-price">
                    <i class="fa fa-dollar-sign"></i>
                    @if (item.SalePrice != null)
                    {
                    <span>
                        <s>@item.Price</s>
                        <i class="fa fa-dollar-sign"></i> @item.SalePrice
                    </span>
                    }
                    else
                    {
                        <span>@item.Price</span>
                    }
                </div>
            </div>
        }
    </div>
</div>