@*
    Cart
*@
@using cs341.Models
@using System.Globalization;
@model cs341.Models.CartViewModel
@{
 decimal totalCost = 0;
 decimal? discount = Model.Discount;
 string discountCost = "";
}

<div id="cart">
    <h1 class="heading">Cart</h1>
    @if (!Model.Items.Any())
    {
        <h2> No Items in Cart Get Shopping! :D </h2>
    }
    <ul id="cart-container" class="list-group">
        @foreach (Item item in Model.Items)
        {
            int quantity = @Model.Entries.SingleOrDefault(entry => entry.EntryItemId == item.Id).Quantity;
            int entryId = @Model.Entries.SingleOrDefault(entry => entry.EntryItemId == item.Id).Id;
            int userId = @Model.Entries.SingleOrDefault(entry => entry.EntryItemId == item.Id).UserId;

            <li class="cart-item-description well">
                <img class="itemview-item-image img-thumbnail" src="~/images/items/@item.ImageLOC">
                <div id="cart-item-info">
                    <div class=cart-item-name>@item.Name</div>
                    <input class="cart-item-quantity" type="text" value="@quantity" onchange="updateQuantityInCart(@entryId,this,@userId)">
                    @if (item.SalePrice != null)
                    {
                        <div class=cart-item-price>@item.SalePrice</div>
                        totalCost += (decimal)item.SalePrice * quantity;
                    }
                    else
                    {
                        <div class=cart-item-price>@item.Price</div>
                        totalCost += item.Price * quantity;
                    }
                    <div class=cart-item-description>@item.Description</div>
                </div>
                <div id="itemview-item-buttons">
                    <div class="btn-sm btn-danger" onclick="removeItemFromCart(@entryId,@userId)"><i class="fa fa-trash"></i> Delete</div>
                    <div class="btn-sm btn-default" onclick="routeToItem(@item.Id)"><i class="fa fa-info"></i> Details</div>
                </div>
            </li>
        }
    </ul>
    @if (Model.Items.Any())
    {
        <div>
            <input id="promotionInput" type="text" /><span class="btn" onclick="addPromotion()">Add Promotion</span>
        </div>
        @if (discount == 0)
        {
            <p>Total Cost: <i class="fa fa-dollar-sign"></i> @totalCost</p>
        }
        else
        {
            NumberFormatInfo setPercision = new NumberFormatInfo();
            setPercision.NumberDecimalDigits = 2;
            discountCost = ((decimal)(totalCost * (1 - discount))).ToString("N", setPercision);
            <p>Total Cost: <i class="fa fa-dollar-sign"></i> <s>@totalCost</s> @discountCost</p>
        }
        <div class="btn" onclick="checkout()">
            Check Out
        </div>
        <input class="hide" id="promo-amount" type="number" value="@discount"/>
    }
</div>